<form action="/new-restuarant" method="post">
    <label for="name">New Restuarant Name:</label>
    <input type="text" id="name" name="name">
    <label for="image">Insert Image URL:</label>
    <input type="text" id="image" name="image">
    <input type="submit">
</form>